###################################################################
#
#
###################################################################

.DS_Store
**/.DS_Store
/sqa-init.php
ifs/media/
ifs/logs/
*.sql
.env
/config.php